.suggestion__container {
    margin: 4% 9% 0 9% !important;
}

@media (max-width: 767px) {
    .suggestion__container {
        margin-top: 12% !important;
    }
}

.suggestion__title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2.8em;
}

@media (max-width: 767px) {
    .suggestion__title {
        font-size: 1.5em;
    }
}

.suggestion__track {
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.05em;
}

.suggestion__artist {
    font-size: 0.85em;
    font-style: italic;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.suggestion__album {
    padding-top: 1.5%;
}
